/node_modules/
/public/build/
generated

.DS_Store

build
coverage
.env*
!.env.sample
!.env.d.ts

yarn-error*

# yarn2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

